@import '_variables.scss';

body {
  background-color: #000;
}

* {

  box-sizing : border-box;
  backface-visibility : none;
  appearance : none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color : transparent;
  font-family : 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size : 16px;
  line-height : 24px;
  color: $contrast-color;

  &:focus {
    outline : 0;
  }

  &::webkit-scrollbar {
    display : none;
  }
  
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}